@import "../scss/variables";

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../assets/hero-img.webp");
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.5);
    }

    * {
        position: relative;
        z-index: 2;
    }

    h1 {
        font-size: 48px;
        color: #fff;
        font-weight: weight(regular);
        margin-bottom: 10px;
    }
    p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 19px;
        margin-bottom: 20px;
    }

    // Responsive

    @media screen and (max-width:1000px) {
        h1 {
            font-size: 38px;
            text-align: center;
        }
    }
    @media screen and (max-width:525px) {
        h1 {
            font-size: 30px;
        }
        p {
            font-size: 17px;
            text-align: center;
        }
    }
}