@import '../scss/variables';

.footer {
  padding: 128px 0;
  background-color: #333333;

  .container {
    @include container;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    border-bottom: 1px solid #edf0f5;

    section {
      margin: 20px;
      &:nth-of-type(1) {
        width: 350px;
      }

      p {
        color: #737373;
      }

      h1 {
        margin-bottom: 25px;
        color: #fff;
        font-size: 18px;
        font-weight: weight(regular);
      }

      &:nth-of-type(2) {
        padding: 0 10px;

        ul {
          list-style: none;

          li {
            margin-bottom: 10px;

            a {
              text-decoration: none;
              color: #737373;
              transition: 0.3s;

              @media screen and (min-width: 600px) {
                &:hover {
                  color: #fff;
                }
              }
            }
          }
        }
      }

      &:nth-of-type(3) {
        padding: 0 20px;

        .icons {
          .icon {
            margin: 0 10px;
            cursor: pointer;

            &:nth-of-type(1) {
              margin-left: 0;
            }

            * {
              transition: 0.3s;
              color: #737373;
              width: 20px;
              height: 20px;
            }

            &:hover {
              * {
                color: #fff;
              }
            }
          }
        }
      }

      &:nth-of-type(4) {
        input {
          padding: 6px 12px;
          color: #6c757d;
          border: 1px solid #6c757d;
          font-size: 1rem;
          background-color: transparent;

          &:focus {
            outline: none;
          }
        }

        button {
          all: unset;
          padding: 6px 12px;
          background-color: $primary-color;
          color: #fff;
          cursor: pointer;

          &:hover {
            background-color: rgba($primary-color, 0.7);
          }
        }
      }
    }
  }

  .copyright {
    width: fit-content;
    padding: 40px;
    line-height: 2;
    margin: auto;
    font-size: 16px;
    color: #737373;

    a {
      color: #737373;
      text-decoration: none;
      color: #999999;
      transition: 0.3s;

      @media screen and (min-width: 600px) {
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
